.global-footer {
  position: relative;
  min-width: 1200px;
  height: 300px;
  overflow: hidden;
  color: #fff;
  background-color: #000;
  z-index: 1;
  font-size: 0;
}
.global-footer a:hover {
  text-decoration: underline;
}
.global-footer .gf-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 45px 0 55px;
}
.gf-left {
  float: left;
}
.gf-left p {
  font-size: 1.4rem;
}
.gf-l-img {
  width: 90px;
  height: 67px;
  background: url("../../imgs/logo-big.png") center center no-repeat;
  margin-bottom: 40px;
}
.gf-l-logo {
  padding: 14px 0 25px;
}
.gf-l-logo div {
  float: left;
  height: 22px;
}
.gf-l-logo div:not(:last-child) {
  margin-right: 15px;
}
.gf-l-logo-QQ {
  width: 20px;
  background: url("../../imgs/logo-QQ.png") center center no-repeat;
}
.gf-l-logo-weixin {
  width: 25px;
  background: url("../../imgs/logo-weixin.png") center center no-repeat;
}
.gf-l-logo-weibo {
  width: 27px;
  background: url("../../imgs/logo-weibo.png") center center no-repeat;
}
.gf-right {
  float: right;
}
.gf-r-list {
  float: left;
}
.gf-r-list:last-child {
  margin-right: 90px;
}
.gf-r-list:not(:last-child) {
  margin-right: 50px;
}
.gf-r-list h4 {
  font-size: 1.8rem;
  margin: 0;
  padding-bottom: 35px;
}
.gf-r-list ul {
  font-size: 1.2rem;
}
.gf-r-list ul li:not(:last-child) {
  margin-bottom: 20px;
}
.gf-r-list ul li a {
  color: #fff;
  cursor: pointer;
}
