.global-footer
	position relative
	min-width 1200px
	height 300px
	overflow hidden
	color #fff
	background-color #000
	z-index 1
	font-size 0
	a
		&:hover
			text-decoration underline
.global-footer .gf-content
	max-width 1200px
	margin 0 auto
	padding 45px 0 55px
.gf-left
	float left
	p
		font-size 1.4rem
.gf-l-img
	width 90px
	height 67px
	background url('../../imgs/logo-big.png') center center no-repeat
	margin-bottom 40px
.gf-right
	float right
.gf-r-list
	float left
	&:last-child
		margin-right 90px
	&:not(:last-child)
		margin-right 50px
	h4
		font-size 1.8rem
		margin 0
		padding-bottom 35px
	ul
		font-size 1.2rem
		li
			&:not(:last-child)
				margin-bottom 20px
			a
				color #fff
				cursor pointer
