.main {
  background-color: #f2f2f2;
}
.contact {
  width: 880px;
  margin: 75px auto 0;
  padding: 50px;
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  border-radius: 4px;
  position: relative;
  z-index: 2;
}
.contact h1 {
  font-size: 2.4rem;
  line-height: 36px;
  font-weight: 500;
  padding-bottom: 1.5em;
  margin: 0;
  border-bottom: 1px solid #d4d4d4;
}
.form {
  padding: 25px;
  width: 715px;
}
.form-line {
  font-size: 1.4rem;
  line-height: 36px;
}
.form-line:not(:last-child) {
  margin-bottom: 18px;
}
.form-line > * {
  float: left;
}
.form-line > span {
  display: block;
  width: 100px;
  padding-right: 15px;
}
.form-line input[type = 'text'] {
  box-sizing: border-box;
  display: block;
  width: 600px;
  padding: 5px 10px;
  line-height: 24px;
}
.form-line input[type = 'radio'] {
  display: none;
}
.form-line textarea {
  width: 600px;
  height: 72px;
  padding: 10px;
  line-height: 24px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.form-line input[type = 'button'] {
  border: none;
  float: right;
  width: 130px;
  height: 36px;
  background-color: #337ab7;
  border-radius: 7px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.6rem;
  line-height: 32px;
}
.form-line input[type = 'text'],
.form-line textarea,
.form-line select {
  border: 1px solid #e5e5e5;
}
.selector {
  width: 600px;
  margin-bottom: 18px;
}
.selector select {
  width: 190px;
  height: 36px;
  padding-left: 5px;
}
.selector select:not(:last-child) {
  margin-right: 15px;
}
.form-sex label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.form-sex label:before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  left: 12px;
  width: 20px;
  height: 20px;
  border: 2px solid #337ab7;
}
.form-sex input:checked + label:after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #337ab7;
  top: 12px;
  left: 16px;
}
@media only screen and (max-width: 1044px) {
  .contact {
    width: calc(100% - 50px);
    box-shadow: none;
    margin-top: 0;
    padding: 25px;
  }
  .contact h1 {
    padding-bottom: 0.5em;
  }
  .form {
    width: calc(100% - 50px);
  }
  .form-line {
    font-size: 1.3rem;
  }
  .form-line input[type = 'text'],
  .form-line textarea {
    width: calc(100% - 115px);
  }
  .selector {
    width: calc(100% - 115px);
  }
  .selector select {
    width: calc(33.333334% - 10px);
  }
}
@media only screen and (max-width: 767px) {
  .contact {
    width: calc(100% - 40px);
    padding: 20px;
  }
  .form {
    width: 100%;
    padding: 16px 0 0;
  }
  .form-line:not(:last-child) {
    margin-bottom: 8px;
  }
  .form-line > span {
    width: 100%;
    padding-right: 0;
  }
  .form-line input[type = 'text'],
  .form-line textarea {
    width: 100%;
  }
  .selector {
    width: 100%;
    margin-bottom: 8px;
  }
  .selector select {
    width: 100%;
  }
  .selector select:not(:last-child) {
    margin-bottom: 8px;
    margin-right: 0;
  }
  .form-sex label {
    width: calc(50% - 30px);
    padding-left: 30px;
  }
  .form-sex label:before {
    left: 0;
  }
  .form-sex input:checked + label:after {
    left: 4px;
  }
}
