nav.public-nav
	position fixed
	top 0
	right 0
	left 0
	z-index 9999
	display block
	margin 0
	width 100%
	min-width 1024px
	height 48px
	max-height 44px
	background #333
	background rgba(0,0,0,0.8)
	font-size 14px
	user-select none
	> div
		margin: 0 auto
		max-width: 980px
		padding: 0 22px
		position: relative
		z-index: 2
		overflow hidden
		input[type='checkbox']
			display none
		ul
			list-style none
			padding 0
			width auto
			position relative
			li
				display inline-block
				position relative
				z-index 1
				vertical-align top
				a
					text-decoration none
					display inline-block
					font-size 14px
					color #fff
					padding 0 10px
					&:hover
						opacity .65
				a.logo
						width 24px
						background url('../imgs/logo-white.png') center center no-repeat
						background-size 24px 24px
ul.nav-header
	display none
	margin 0 -22px
	height 48px
	text-align center
	li
		height 48px
		a
			height 48px
			line-height 48px
	li.icon
		display block
		width 48px
		position absolute
		top 0
		left 0
		z-index 3
		label
			cursor pointer
			display block
			width 48px
			height 48px
			position absolute
			&:hover
				opacity .65
			span
				display block
				width 17px
				height 1px
				background #fff
				position absolute
				left 16px
				&:first-child
					top 20px
				&:last-child
					bottom 20px
ul.nav-list
	margin 0 -10px
	height 44px
	text-align justify
	position relative
	&:after
		content ''
		display inline-block
		width 100%
		position relative
	li
		height 44px
		a
			height 44px
			line-height 44px
@media only screen and (max-width: 1044px)
	nav.public-nav
		min-width 320px
@media only screen and (max-width: 767px)
	nav.public-nav
		max-height 48px
		ul.nav-header
			display block
		ul.nav-list
			position absolute
			top 48px
			right 0
			bottom 0
			left 0
			margin 0
			padding 0 48px
			height auto
			overflow hidden
