#gn-menustate {
  display: none;
}
.global-nav {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-width: 1024px;
  height: 48px;
  max-height: 44px;
  font-size: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  user-select: none;
}
.global-nav .gn-content {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 22px;
  overflow: hidden;
}
.global-nav .gn-header {
  display: none;
  position: absolute;
  width: 100%;
  height: 48px;
  top: 0;
  left: 0;
}
.global-nav .gn-header li {
  position: absolute;
  height: 48px;
}
.global-nav .gn-header li:last-child {
  top: 0;
  left: calc(50% - 20px);
}
.global-nav .gn-header li:last-child:hover {
  opacity: 0.65;
}
.global-nav .gn-header li:last-child a {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
}
.global-nav .gn-menuicon {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
}
.global-nav .gn-menuicon label {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transform: rotate(0);
  transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.global-nav .gn-menuicon label > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.global-nav .gn-menuicon label > span > span {
  display: block;
  position: absolute;
  left: 16px;
  width: 17px;
  height: 1px;
  background: #fff;
  transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}
.global-nav .gn-menuicon label > span:first-child > span {
  top: 23px;
  transform: rotate(0);
  transform: translateY(-3px);
}
.global-nav .gn-menuicon label > span:last-child > span {
  bottom: 23px;
  transform: rotate(0);
  transform: translateY(3px);
}
.global-nav .gn-list {
  width: auto;
  height: 44px;
  margin: 0 -10px;
  text-align: justify;
}
.global-nav .gn-list:after {
  content: '';
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
}
.global-nav .gn-item {
  display: inline-block;
  position: relative;
  height: 44px;
  vertical-align: top;
}
.global-nav .gn-item a {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  font-size: 1.3rem;
  color: #fff;
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.global-nav .gn-item a:hover {
  opacity: 0.65;
}
.global-nav .gn-logo {
  width: 20px;
  background: url("../imgs/logo-white.png") center center no-repeat;
  background-size: 20px 20px;
}
@media only screen and (max-width: 1044px) {
  .global-nav {
    min-width: 320px;
  }
}
@media only screen and (max-width: 767px) {
  .global-nav {
    max-height: none;
    transition: background 0.35s linear, height 0.35s ease-in 0.2s;
  }
  .global-nav .gn-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .global-nav .gn-header {
    display: block;
  }
  .global-nav .gn-list {
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    margin: 0;
    padding: 0 48px;
    overflow: hidden;
    transition: visibility 0s linear 1s;
    visibility: hidden;
  }
  .global-nav .gn-item {
    width: 100%;
    height: 43px;
    border-bottom: 1px solid #333;
    opacity: 0;
    transform: scale(1.1) translateY(-24px);
    transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  }
  .global-nav .gn-item a {
    display: block;
    width: auto;
    max-width: none;
    padding: 0;
    font-size: 1.7rem;
  }
  .global-nav .gn-item:nth-child(1) {
    display: none;
  }
  .global-nav .gn-item:nth-child(2) {
    margin-top: 20px;
    transition-delay: 0.35s, 0.35s;
  }
  .global-nav .gn-item:nth-child(3) {
    transition-delay: 0.4s, 0.4s;
  }
  .global-nav .gn-item:nth-child(4) {
    transition-delay: 0.45s, 0.45s;
  }
  .global-nav .gn-item:nth-child(5) {
    transition-delay: 0.5s, 0.5s;
  }
  .global-nav .gn-item:nth-child(6) {
    transition-delay: 0.55s, 0.55s;
  }
  #gn-menustate:checked ~ .global-nav {
    height: 100%;
    background: #000;
  }
  #gn-menustate:checked ~ .global-nav .gn-menuicon label {
    transform: rotate(90deg);
  }
  #gn-menustate:checked ~ .global-nav .gn-menuicon label > span > span {
    transform: translateY(0);
  }
  #gn-menustate:checked ~ .global-nav .gn-menuicon label > span:first-child {
    transform: rotate(45deg);
  }
  #gn-menustate:checked ~ .global-nav .gn-menuicon label > span:last-child {
    transform: rotate(-45deg);
  }
  #gn-menustate:checked ~ .global-nav .gn-list {
    visibility: visible;
    transition-delay: 0s;
  }
  #gn-menustate:checked ~ .global-nav .gn-item {
    opacity: 1;
    transform: none;
  }
}
