.content
	width 100%
	min-width 1200px
	height 2029px
	background url('../../imgs/founder/bg-2.jpg') center center no-repeat
	color #fff
.content-header
	> h4
		position relative
		font-size 3rem
		font-weight 600
		line-height 30px
		margin 0
		padding-top 90px
		text-align center
		&:before, &:after
			content ''
			position absolute
			width 210px
			border-top 2px solid rgba(#ffffff, 0.5)
		&:before
			margin-top 15px
			margin-left -225px
		&:after
			margin-top 15px
			margin-left 15px
	> h5
		font-size 1.2rem
		font-weight 300
		line-height 30px
		text-transform uppercase
		letter-spacing 8px
		margin 0
		padding-bottom 70px
		text-align center
.list-box
	width 1200px
	height 525px
	margin 0 auto
	background #000503
	&:not(:last-child)
		margin-bottom 30px
	> div
		float left
.list-img
	width 313px
	height 429px
	position relative
	top 50px
	left 122px
.list-1
	background url('../../imgs/founder/list-1.jpg') center center no-repeat
.list-2
	background url('../../imgs/founder/list-2.jpg') center center no-repeat
.list-3
	background url('../../imgs/founder/list-3.jpg') center center no-repeat
.list-content
	position relative
	top 190px
	left 257px
	> h4
		font-size 1.6rem
		line-height 26px
		font-weight normal
		margin 0
		padding-bottom 40px
		> span
			font-size 1.8rem
			font-weight bold
			padding-right 10px
	> p
		font-size 1.6rem
		line-height 26px
		margin 0
	&:before
		content ''
		position absolute
		height 160px
		border-left 1px solid #828485
		top 53px
		left -40px
